.heading_animation_left {
  opacity: 0;
  transform: translateX(-100px);
}

.heading_animation_right {
  opacity: 0;
  transform: translateX(100px);
}

.active {
  opacity: 1;
  transition: 2s;
  transform: translateX(0);
}

.customTextSize_xl {
  font-size: 10rem;
}

.customTextSize_2xl {
  font-size: 20rem;
}

.customTextSize_3xl {
  font-size: 30rem;
}